@import url(/css/bootstrap.css);
@import url(/css/main.css);
@import url(/css/responsive.css);
@import url(/js/prettify/prettify.css);

#scriptEditor {
	min-height: 400px;
}

#scriptEditor .modal-body { height: 300px; }

#editorTextPlacement {
	height: 280px;
	width: 97%;
}

div.room i {
	left: 45px;
	top: 34px;
	position: absolute;
	z-index: 401;
}

#codeEditor {
	width: 98%;
	height: 244px;
	font-family: courier, serif;
	font-size: 11px;
	line-height: 13px;
}